<h1>New post</h1>

<p>Post: <%= @post.to_json %></p>

<%= form_with(model: @post, class: "wizard", data: { controller: "wizard" }) do |f| %>
  <% if @step == :title %>
    <%= f.text_field :title, placeholder: "Title", data: { target: "wizard.title" } %>

    <button data-action="click->wizard#next">Next</button>
  <% end %>

  <% if @step == :body %>
    <%= f.text_area :body, placeholder: "Body", data: { target: "wizard.body" } %>

    <button data-action="click->wizard#previous">Previous</button>
    <button data-action="click->wizard#next">Next</button>
  <% end %>

  <% if @step == :submit %>

    <div class="wizard-preview">
      <h2><%= @post.title %></h2>
      <p><%= @post.body %></p>
    </div>

    <%= f.hidden_field :title %>
    <%= f.hidden_field :body %>

    <button data-action="click->wizard#previous">Previous</button>
    <%= f.button "Save" %>
  <% end %>
<% end %>
